* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

.clock {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transform: rotate(calc(var(--n) * 30deg)) translate(120px);
}

.number b {
  transform: rotate(calc(var(--n) * -30deg));
  display: inline-block;
}


.center-dot {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: gray;
  border-radius: 50%;
  z-index: 4;
}

.hour-hand,
.minute-hand,
.second-hand {
  --rotate: 0;
  position: absolute;
  right: 50%;
  top: 50%;
  transform-origin: top;
  transform: translateX(-50%) rotate(calc(var(--rotate) * 1deg));
}

.hour-hand {
  width: 6px;
  height: 90px;
  background-color: black;
  z-index: 3;
}

.minute-hand {
  width: 4px;
  height: 120px;
  background-color: blue;
  z-index: 2;
}

.second-hand {
  width: 2px;
  height: 150px;
  background-color: red;
  z-index: 1;
}